#blog
  height 100%
  overflow scroll

body
  font-family 'Open Sans', sans-serif
  text-align center

#header
  >.ui.grid
    margin-bottom 2%

#header
  margin-bottom 2%
  padding-left 3%
  padding-right 3%
  text-align center
  font-size 2vw

#title
  font-size 5.6vw
  font-family 'Poiret One', cursive
  margin-top 0
#subtitle
  font-size 2.5vw
  font-family 'Poiret One', cursive
  margin-top -2vw
  text-align left
  padding-left 50vw

#feed
  padding-left 0
  padding-right 0

#tags
  margin-left 2vw
  margin-top 14px
  padding-right 0

  h3
    text-decoration underline

#archive
  margin-right: 2vw
  margin-top 14px
  padding-left 0

  h3
    text-decoration underline
