#landing
  font-size 1.5vw

  #header
    margin-top 0

    h1, h2, h3
      font-family 'Poiret One', cursive
      text-align right
      padding 1vw
      display: block
      font-weight: bold
      color: rgba(255, 255, 255, 1)
      line-height: 1.2
      text-shadow: 0px 10px 15px rgba(0, 0, 0, 0.4)

    h1
      font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif
      font-weight 600
      font-size 12vw
      margin-bottom 0
    h2
      margin-top 2vh
      margin-bottom 4vh

    .container
      color black


  h1, h2, h3
    line-height 1
    text-align center

  h1
    font-size 7.5vw

  h2
    font-size 4vw

  h3
    font-size 3vw

  h4
    font-size 1.5vw
    margin-top 2vh
    margin-bottom 2vh

  #page1
    height 100vh
    background-color #404040
    color rgba(255, 255, 255, 1)
    background-position: 50% 50%
    transform: translate3d(0, 0, 0);

  #page1:after
    background-image url(../images/masthead.jpg)
    transition: background 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s, opacity 6s cubic-bezier(0.680, -0.550, 0.265, 1.4) 0s
    position: absolute
    top: 0px
    left: 0px
    z-index: -1
    width: 100%
    height: 100%
    content: ''
    background-size: cover
    opacity: 0.55

  #page2, #page3, #page4
    padding-bottom 20vh
    min-height 100vh

    .header
      border-top 5vh

    h1
      margin 0 auto
      max-width 80vw
      color rgb(255,255,255)
      text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2)

    h2, h3
      text-shadow: 0px 2px 4px rgba(230, 230, 230, 0.7)

    .ui.horizontal.divider
      font-size 1.5em

    .ui.segment
      p
        font-size 1.3em


  #page2
    background-color rgba(45,159,74,0.6)

  #page3
    background-color rgba(246,163,33,0.6)

  #page4
    background-color rgba(237,77,121,0.6)

  #page2 h1
    background-color rgba(33, 186, 69, 0.7)
    padding-bottom: 3px

  #page3 h1
    background-color rgba(242, 113, 28, 0.7)
    padding-bottom: 3px

  #page4 h1
    background-color rgba(224, 57, 151, 0.7)
    padding-bottom: 3px

  .header
    margin-bottom 5vh


//Portrait Mobile
@media (max-width: 500px)
  #landing
    #header
      h1
        font-size 10vw

      h2
        font-size 7.5vw

      h3
        font-size 5vw

    .row
      margin 0 auto
      max-width 70vw

    #page2, #page3, #page4
      margin-bottom 15vh


//Landscape Mobile
@media (max-height: 500px)
  #landing
    #header
      h1
        font-size 10vw

      h2
        font-size 7.5vw

      h3
        font-size 5vw

    .row
      margin 0 auto
      max-width 70vw
