#landing
  height 300vh
  font-size 1.5vw

  #header
    h1, h2, h3
      font-family 'Poiret One', cursive
      text-align right

  h1, h2, h3
    line-height 1
    text-align center

  h1
    font-size 7vw

  h2
    font-size 4vw

  h3
    font-size 3vw

  h4
    font-size 1.5vw
    margin-top 2vh
    margin-bottom 2vh

  #page2, #page3, #page4
    margin-bottom 15vh

  #page1
    height 100vh

  #page2, #page3, #page4
    margin-bottom 30vh

  .header
    margin-bottom 5vh


//Portrait Mobile
@media (max-width: 500px)
  #landing
    #header
      h1
        font-size 10vw

      h2
        font-size 7.5vw

      h3
        font-size 5vw

    .row
      margin 0 auto
      max-width 70vw

    #page2, #page3, #page4
      margin-bottom 15vh


//Landscape Mobile
@media (max-height: 500px)
  #landing
    #header
      h1
        font-size 10vw

      h2
        font-size 7.5vw

      h3
        font-size 5vw

    .row
      margin 0 auto
      max-width 70vw
