.post
  text-align justify

.title
  font-size 3.2vw
  text-align center
  margin-bottom 0

.subtitle
  font-size 1.6vw
  text-align center
  margin-top 0

.row.taglist
  text-align right

.sixteen.wide.column.timestamp
  text-align right
  padding-bottom 0

.sixteen.wide.column.header
  padding-top 0
